{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>



    {% if user.is_authenticated %}
      <img src="{% static '/images/bell_notif.png' %}"
        width="25"
        height="30" />
      
      {{ expiration_count }}

      Hi {{ user.username }}!
      <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a>
    {% endif %}
  


    {% block content  %}
    {% endblock content %}
</body>
</html>