h1 {
    text-align: center;
  }

  h2 {
    text-align: right;
  }

  a {
    text-align: right;
  }




.homepage-picture {
    margin-top: 75px;
    margin-bottom: 50px;
    margin-left: 1100px;
    margin-right: 100px;
    border: 5px solid black;
    width: 600px;
    height: 600px;
}

.table-responsive {
  text-align: auto;
}

.navbar-text {
  padding-left: 10px;
}

.notif-for-bell {
  padding-right: 20px;
  position: relative;
  display: block;
  height: 30px;
  width: 26px;
  background: url('/static/images/notif-bell.svg');
  background-size: contain;
  text-decoration: none;


}

.num {
  
  background: #f00;
  width: 18px;
  line-height: 18px;
  text-align: center;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -2px;
  color: #faf4f4;
  font-size: 12px;
}

