h1 {
    text-align: center;
  }

  h2 {
    text-align: right;
  }

  a {
    text-align: right;
  }




.homepage-picture {
    margin-top: 75px;
    margin-bottom: 50px;
    margin-left: 1100px;
    margin-right: 100px;
    border: 5px solid black;
    width: 600px;
    height: 600px;
}

.table-responsive {
  text-align: auto;
}

